/*
--------------global css ----------------
*/

    h2 {
        margin-top: 0px;
    }


    .footer {
        color: #F8F8F8;
        background-color: #555555 !important;
        padding: 20px 0 !important;
    }

    h1 small,
    h2 small,
    h3 small,
    h4 small,
    h5 small,
    h6 small,
    .h1 small,
    .h2 small,
    .h3 small,
    .h4 small,
    .h5 small,
    .h6 small,
    h1 .small,
    h2 .small,
    h3 .small,
    h4 .small,
    h5 .small,
    h6 .small,
    .h1 .small,
    .h2 .small,
    .h3 .small,
    .h4 .small,
    .h5 .small,
    .h6 .small {
        color: #BEBEBE !important;
    }

    #main {
        position: relative;
        margin: 0 auto;
        margin-top: 30px;

    }


/*
 ------------- 麵包屑 override -----------------

    .breadcrumb a {
        color: #F6BB42 !important;
    }

    .breadcrumb-arrow li a {
        border: 1px solid #F6BB42 !important;
        background-color: #F6BB42 !important;

    }

    .breadcrumb-arrow li a:before {
        border-left-color: #F6BB42 !important;
    }

    .breadcrumb-arrow li a:after{
        border-left: 11px solid darken(#F6BB42, 10%) !important;
    }
    .breadcrumb-arrow li a:hover,
    .breadcrumb-arrow li a:focus {
        background-color: #FFCE54 !important;
        border: 1px solid #FFCE54 !important;
    }
    .breadcrumb-arrow li a:hover:before,
    .breadcrumb-arrow li a:focus:before {
        border-left-color: #FFCE54 !important;
    }
    .breadcrumb-arrow li a:active {
        background-color: darken(#F6BB42, 10%) !important;
        border: 1px solid darken(#F6BB42, 10%);
    }
    .breadcrumb-arrow li a:active:before,
    .breadcrumb-arrow li a:active:after {
        border-left-color: darken(#F6BB42, 10%) !important;
    }
*/

/*
------------- navbar -------------------
*/
    .nav-stacked > li + li {
        margin-top: 1px;
    }
    .navbar {
        border: 1px solid transparent;
        border-radius: 4px;
        margin: 0 auto;
        margin-bottom: 20px;
        min-height: 10px;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 15;
    }

    .navbar-fixed-top {
        position: fixed;
        z-index: 1030;
    }

    .navbar-inverse {
        background-color: #222222;
        border-color: #080808;
        border-radius: 5px;
        opacity: 1;
    }

    .navbar-inverse .navbar-brand {
        color: #FFF;
    }
    @media screen and (min-width: 768px) {
        .navbar {
            margin-top: 12px;
            width: 750px;
        }
    }

    @media screen and (min-width: 992px) {
        .navbar {
            width: 970px;
        }

        .navbar-right {
            padding-right: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        .navbar {
            width: 1170px;
        }
    }


/*
------------- FB LOGO ------------------
*/
    #fblogo {
        display: none;
    }
    @media screen and (min-width: 768px) {
        #fblogo-min768 {
            margin-top: -7px;
            margin-bottom: -7px;
            margin-right: -15px;
            margin-left: -15px;
        }
    }
    @media screen and (min-width: 992px) {
        #fblogo {
            display: inline-block;
            margin-top: -7px;
            margin-bottom: -7px;
        }
        #fblogo-min768 {
            display: none;
        }
    }
    .fblogo {
        background: url('../img/fb/FB-f-Logo__white_29.png');
        width: 29px;
        height: 29px;
        display: inline-block;
    }

/*
---- home page photoside & carousel ----
*/
    #photoslide {
        margin: 0 auto;
        margin-top: 0%;
        position: relative;
        width: 100%;
    }

    .carousel-inner-nonhomepage {
        height: 15%;
    }

    .glyphicon {
        font-family: 'Glyphicons Halflings' !important;
    }

    .carousel-caption {
        bottom: 20px;
        color: #FFF;
        left: 15%;
        padding-bottom: 20px;
        padding-top: 20px;
        position: absolute;
        right: 15%;
        text-align: center;
        text-shadow: 2px 2px 3px #000;
        z-index: 10;
    }

    @media screen and (max-width:850px) {

        .carousel-caption > h1 {
            font-size: 20px;
        }
        .carousel-caption > h4 {
            font-size: 15px;
        }
    }

    @media screen and (min-width:768px) {
        .carousel-control .glyphicons-chevron-left,
        .carousel-control .glyphicons-chevron-right,
        .carousel-control .icon-prev,
        .carousel-control .icon-next
        {
            font-size: 30px;
            height: 30px;
            margin-left: -15px;
            margin-top: -15px;
            width: 30px;
        }
        .carousel-caption
        {
            left: 20%;
            padding-bottom: 30px;
            right: 20%;
        }
        .carousel-indicators
        {
            bottom: 20px;
        }
    }


/*
--------- container override ---------
*/
    @media screen and (min-width: 768px) {
        .container {
          padding-right: 0px;
          padding-left: 0px;
        }
    }

/*
--------------- Manage ----------------
*/
    #login-page {
        width: 500px;
        height: 450px;
        position: absolute;
         /*絕對位置*/
        top: 50%;
                   /*從上面開始算，下推 50% (一半) 的位置*/
        left: 50%;
                  /*從左邊開始算，右推 50% (一半) 的位置*/
        margin-left: -250px;
        margin-top: -225px;
    }
/*
--------------- 後台 ------------------
*/
    #man-sidebar {
        background-color: #e6e9ed !important;
        display: block;
    }

    #man-Content {
        position: relative;
        width: 90%;
        margin: auto;
    }

    #man-MainContent {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .man-MainInfo {
        width: 130px;
        margin-right: 10px;
        text-align: right;
    }

    #postList-Function {
        margin-bottom: 10px;
    }

    #articleFooter {
        margin-bottom: 40px;
    }

    /* 活動 */
    .introduction {
        width:90%;
        margin: auto;
    }

/* ------------- 圖片固定比例自動裁剪 ------------- */
    .img-cut-32 {
        max-width: 100%;
        height: 0;
        padding-bottom: 75%;
        background-color: #FFF;
        overflow: hidden;
    }

    .img-cut img {
        max-width: 100%;
        vertical-align: middle;
    }